@import 'tailwindcss';
@import '@nuxt/ui';

@source "../../../content/**/*";
/* https://uicolors.app/generate/7650f6 */
@theme static {
  --font-sans: 'Public Sans', sans-serif;
  /* https://uicolors.app/generate/7650f6 */
  --color-green-50: #e0faff;
  --color-green-100: #c7fff8;
  --color-green-200: #8fffd1;
  --color-green-300: #57ff8b;
  --color-green-400: #46ca18;
  --color-green-500: #007545;
  --color-green-600: #06b70a;
  --color-green-700: #00992f;
  --color-green-800: #007545;
  --color-green-900: #004d43;
  --color-green-950: #00343d;

  --color-red-50: #ffe5e6;
  --color-red-100: #ffced1;
  --color-red-200: #ff99a0;
  --color-red-300: #ff5263;
  --color-red-400: #e10033;
  --color-red-500: #c8002c;
  --color-red-600: #b10026;
  --color-red-700: #9b0020;
  --color-red-800: #810019;
  --color-red-900: #6c0013;
  --color-red-950: #640011;

  --color-blue-50: #dcdddd;
  --color-blue-100: #d1d8e1;
  --color-blue-200: #bccee3;
  --color-blue-300: #a3c4e7;
  --color-blue-400: #82bcee;
  --color-blue-500: #2ab3ff;
  --color-blue-600: #4b8fc1;
  --color-blue-700: #486e8f;
  --color-blue-800: #3d5062;
  --color-blue-900: #2b3138;
  --color-blue-950: #232424;

  --color-yellow-50: #fffcc4;
  --color-yellow-100: #fffb9b;
  --color-yellow-200: #fef702;
  --color-yellow-300: #ffdf20;
  --color-yellow-400: #f2eb02;
  --color-yellow-500: #ece602;
  --color-yellow-600: #bdb801;
  --color-yellow-700: #908d01;
  --color-yellow-800: #696600;
  --color-yellow-900: #413f00;
  --color-yellow-950: #2f2d00;
}

:root {
  --ui-container: var(--container-6xl);
  --ui-radius: 0.125rem;
  --ui-bg: oklch(94.4% 0.0035 205.7); /* between mist-100 and mist-200 */

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  --ui-bg: var(--color-mist-900);

  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
