@import "tailwindcss";
@import "@nuxt/ui";

@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #ecfff4;
  --color-green-100: #d2ffe6;
  --color-green-200: #a8ffcf;
  --color-green-300: #65ffad;
  --color-green-400: #1bff86;
  --color-green-500: #00f975;
  --color-green-600: #00d062;
  --color-green-700: #00a24d;
  --color-green-800: #007e3d;
  --color-green-900: #006633;
  --color-green-950: #003b1f;
}

:root {
  --ui-container: var(--container-6xl);
  --ui-radius: 0.125rem;

  ::selection {
    color: #282a30;
    background-color: #c8c8c8;
  }
}

.dark {
  ::selection {
    color: #ffffff;
    background-color: #474747;
  }
}
